body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: #fdfaf5;
}


.section {
    min-height: 100vh; 
    width: 100%;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}





.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100vh; 
    position: absolute;
    top: 0;
    column-gap: 10px;
    row-gap: 10PX;

}

#myHeader {
    grid-column: 1 / -1; 
    grid-row: 7; 
    color: black;
    padding: 20px;
    margin: 20px;
    font-size: 110px;
    font-family: 'Poppins';
    letter-spacing: 100px; 
    margin: 0; 
    z-index: 10; 
}

#welcome {
    grid-row: 1;
    grid-column: 2;
    margin: 20px;
    z-index: 10;
    letter-spacing: 20px;
    font-size: 25px;
    font-family: 'Cardo';

}


.item1 { /*4534*/
    grid-column-start: 1;  
    grid-column-end: 2;
    grid-row-start: 2; 
    grid-row-end: 5;
    width: 491.9;
    height: 626.1;
    margin: 10px;

}

.item2 { /*3414*/
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 270px;
    height: 343.3px;
}

.item3 { /*1234*/
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
    width: 545px;
    height: 194.8;
}

.item4 { 
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    margin: 20px;
    width: 422.2px;
    height: 351.1px;
}


.item1 img, .item2 img, .item3 img, .item4, img {
    max-height: 50vh; /* Each image will take up to one-third of the viewport height */
    object-fit: cover;
}



/*secmd page*/

#about {
    position: relative; 
    background-image: url("Untitled design (42).png");
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.bg-text {
    position: absolute; 
    color: #fdfaf5;
    font-family: 'poppins';
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    width: 80%; 
    padding: 20px; 

}

#about p {
    font-family: 'Biryani';
    color: #fdfaf5;

}

#landing {
    min-height: 100vh;
}



  /*styling about button*/
  #workbutton:link, a:visited {
    background-color: #fdfaf5;
    border: 3px solid #0D3A7E;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    border-radius: 8px;
  }
  
  #workbutton:hover, #workbutton:active {
    background-color: #0D3A7E;
    color: #fdfaf5;
    font-family: 'Poppins';
  }


/*CONTACT*/


/* footer.css */



/*NAVIGATION CSS*/
.navbar ul {
    list-style-type: none;
    background-color: #fdfaf5;
    color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #000000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: #0D3A7E;
}

.navbar li {
    float: left;
}