body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes full height */
}

.section {
    min-height: 100vh; /* Use vh unit to cover the full viewport height */
    width: 100%;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
    grid-template-rows: auto 1fr auto; /* Three rows with the middle row taking the remaining space */
    text-align: center;
}

#myHeader {
    grid-column: 1 / -1; /* Span across all columns */
    grid-row: 3; /* Position at the third row */
    color: black;
    padding: 20px;
    font-size: 110px;
    font-family: 'Poppins';
    letter-spacing: 100px; /* Maintain the desired letter spacing */
    margin: 0; /* Remove default margins */
    z-index: 10; /* Ensure the text is above the images */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100vh; /* Limit the height to the viewport height */
    position: absolute;
    top: 0;
    column-gap: 10px;
}

.item1 {
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 430px;

}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 270px;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 545px;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item1 img, .item2 img, .item3 img, .item4 img {
    max-height: 50vh; /* Each image will take up to one-third of the viewport height */
    object-fit: cover;
}